.scoreboard {
    border: 1px solid;
    height: 180px;
}


#remain-block,
#winning-block,
#loss-block {
    height: 60px;
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
    margin: 0px auto;
}

#remain-block {
    background-color: aquamarine;
}

#winning-block {
    background-color: burlywood;
}

#loss-block {
    background-color: cornflowerblue;
}

#available-letters-col,
#quarantine-col {
    height: 150px;
}

#input {
    text-align: center;
    height: 40px;
    font-size: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
    margin: auto;
    border-style: inset;
    width: 500px;
    font-weight: bold;
}


#input-row {
    margin-top: 10px;
    margin-bottom: 10px;
    
}

#quarantine-col {
    border: 2px solid red;
}

 #available-letters-col {
    border: 2px solid green;
}

#available-letters-pool,
#quarantined-letters-pool {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 8px;
    line-height: 1.5;
    word-break: break-all;
    padding-left: 10px;
    padding-right: 10px;
}
.quarantine-hdr {
    background-color: red;
}

.available-hdr {
    background-color: green;
}

.quarantine-hdr,
.available-hdr {
    color: white;
    height: 25px;
    line-height: 25px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

#letters-row {
    height: 150px;
}

#instruction-col {
    height: 80px;
    border: 1px solid palevioletred;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

.instructions-hdr {
    color: white;
    line-height: 25px;
    text-align: center;
    background-color: palevioletred;
    height: 36px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.emoji {
    height: 50px;
    width: 50px;
}

table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
    text-align: left;
}

table#t01 tr:nth-child(even) {
    background-color: #eee;
}

table#t01 tr:nth-child(odd) {
    background-color: #fff;
}

table#t01 th {
    background-color: black;
    color: white;
}

/* alphabetic list */

ul {
    list-style: none;
    background-color: #f1f1f1;
    list-style-type: none;
    padding: 10px;
    font-size: 40px;
}

li {
    float: left;
}


#row1 {
    padding-top: 0px;
}

.flag-text {
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: bold;
    font-size: 18px;

}